{% extends "layout.html" %}
{% block content %}


<section class="hero is-fullheight">
    <div class="hero-body has-text-centered is-justify-content-center">
        <div class="login has-background-white-bis p-5" style="border-radius: 5%;">
            <h2 class="title"><strong>RENTING APP</strong></h2>
            <form action="" method="POST" id="login-form">
                <div class="field">
                    <div class="control">
                        <input class="input is-medium is-rounded has-background-white-ter" type="text" placeholder="hello@example.com"
                            autocomplete="current-email" required name="email" />
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-medium is-rounded  has-background-white-ter" type="password" placeholder="**********"
                            autocomplete="current-password" required name="passphrase" />
                    </div>
                </div>
                <br />
                <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                    Login
                </button>
            </form>
            <br>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <a href="{{url_for('signup_page')}}">Create an Account</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>

{% endblock %}