{% extends "layout.html" %}
{% block content %}

<section class="container box p-0 hero is-dark mb-5">

    <div class="hero-body box has-background-dark has-shadow columns m-0 p-1">

        <div class="column">
            <h1 class="title">
                My Profile
            </h1>
        </div>
        <div class="column ">
            <div class="is-flex is-justify-content-flex-end">
                <div class="m-1"><button onclick="if (confirm('Are you sure?')) window.location.href='/delete-account'"
                        class="button is-danger is-rounded">Delete Account</button></div>
                <div class="m-1"><a href="{{url_for('logout')}}" class="button is-link is-rounded">Log out</a></div>
            </div>
        </div>
    </div>

    <div class="pb-5">
        <div class="tabs is-boxed is-centered main-menu" id="nav">
            <ul>
                <li data-target="pane-1" id="1" class="is-active">
                    <a> <span>Settings</span> </a>
                </li>
                <li data-target="pane-2" id="2">
                    <a> <span>Products</span> </a>
                </li>
                <li data-target="pane-3" id="3">
                    <a> <span>Orders</span> </a>
                </li>
            </ul>
        </div>
        <div class="tab-content p-6" style="min-height: 70vh;">
            <div class="tab-pane" id="pane-1">
                {% include 'settings.html' %}
            </div>
            <div class="tab-pane" id="pane-2">
                {% include 'products.html' %}
            </div>
            <div class="tab-pane" id="pane-3">
                {% include 'orders.html' %}
            </div>
        </div>
    </div>

</section>

<script>
    document.querySelectorAll("#nav li").forEach(function (navEl) {
        navEl.onclick = function () { toggleTab(this.id, this.dataset.target); }
    });

    toggleTab("1", "pane-1");

    function toggleTab(selectedNav, targetId) {
        var navEls = document.querySelectorAll("#nav li");

        navEls.forEach(function (navEl) {
            if (navEl.id == selectedNav) {
                navEl.classList.add("is-active");
            } else {
                if (navEl.classList.contains("is-active")) {
                    navEl.classList.remove("is-active");
                }
            }
        });

        var tabs = document.querySelectorAll(".tab-pane");

        tabs.forEach(function (tab) {
            if (tab.id == targetId) {
                tab.style.display = "block";
            } else {
                tab.style.display = "none";
            }
        });
    }
</script>

{% endblock %}