<style>
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: max-content;
        background-color: black;
        color: #fff;
        text-align: left;
        padding: 10px;
        border-radius: 6px;

        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>

<h4 class="subtitle has-text-centered">Order History</h4>
<div class="table-container" style="height: 70vh;">
    <table class="table is-hoverable is-fullwidth is-striped is-scrollable">
        <thead>
            <tr class="has-background-primary has-text-white">
                <th>Order Id</th>
                <th>Status</th>
                <th>Customer</th>
                <th>Merchant</th>
                <th>Product</th>
                <th class="has-text-right">Action</th>
            </tr>
        </thead>
        <tbody>

            {% if orders %}

            {% for order in orders %}
            <tr>
                <span class="tooltiptext has-text-left">{{order.report}}</span>
                <td>{{order.order_id}}</td>
                <td>{{order.status}}
                    {% if order.status == 'Aborted' %}
                    <div class="tooltip">?
                        <span class="tooltiptext">
                            <strong class="has-text-white">Problem:</strong><br>
                            {{order.metadata.problem}}</span>
                    </div>
                    {% endif %}
                </td>
                <td>{{order.metadata.customer}}</td>
                <td>{{order.metadata.merchant}}</td>
                <td>{{order.metadata.product_title}}<sub> Product ID:{{order.product_id}}</sub></td>
                <td class="has-text-right is-flex is-justify-content-flex-end is-align-items-center"
                    style="height: max-content;">

                    {% if order.status == "Active" %}
                    <button class="button is-danger launchReportModal is-small"
                        onclick="$('.order').val('{{order.order_id}}'); $('#report-modal').addClass('is-active');">
                        Report</button>

                    <form style="margin:auto;" action="/close-order" method="POST">
                        <input type="hidden" name="order_id" value="{{order.order_id}}">
                        <button type="submit" class="button is-link is-small">Close</button>
                    </form>

                    {% elif order.status == "Closed" %}
                    <button class="button is-success launchRateModal is-small"
                        onclick="$('.order').val('{{order.order_id}}'); $('#rate-modal').addClass('is-active');">
                        Rate</button>

                    {% else %}
                    <p>Not available</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

            {% else %}

            <tr>
                <td colspan="5" style="text-align: center;">Empty</td>
            </tr>

            {% endif %}

        </tbody>
    </table>

</div>

<div id="report-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <article class="media">
                <div class="media-left"></div>
                <div class="media-content">
                    <form action="/report" method="POST">
                        <input type="hidden" name="order_id" class="order">
                        <div class="content">
                            <h4 class="title has-text-black mb-1">Create Report</h4>
                            <em>This action will abort the order!</em>
                            <textarea name="problem" placeholder="Please state your problem..." class="mt-5"
                                style="width: 100%; font-size: large; height: 40vh;"></textarea>
                        </div>
                        <div class="is-flex is-justify-content-flex-end">
                            <button type="submit" class="button is-danger is-small">Report</button>
                            <button type="button" class="button is-info is-small ml-3 closeBtn">Cancel</button>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </div>
</div>

<div id="rate-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <article class="media">
                <div class="media-left"></div>
                <div class="media-content">
                    <form action="/rate" method="POST">
                        <input type="hidden" name="order_id" class="order">
                        <div class="content">
                            <h4 class="title has-text-black mb-1">Rate User</h4>
                            <br>
                            <div class="is-flex is-justify-content-space-around my-5">
                                <span>
                                    <label>1</label>
                                    <input type="radio" name="rate" value="1" selected>
                                </span>
                                <span>
                                    <label>2</label>
                                    <input type="radio" name="rate" value="2">
                                </span>
                                <span>
                                    <label>3</label>
                                    <input type="radio" name="rate" value="3">
                                </span>
                                <span>
                                    <label>4</label>
                                    <input type="radio" name="rate" value="4">
                                </span>
                                <span>
                                    <label>5</label>
                                    <input type="radio" name="rate" value="5">
                                </span>
                            </div>

                        </div>
                        <div class="is-flex is-justify-content-flex-end">
                            <button type="submit" class="button is-success is-small">Rate</button>
                            <button type="button" class="button is-info is-small ml-3 closeBtn">Cancel</button>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </div>
</div>

<script>
    $(".closeBtn").click(function () {
        $(".modal").removeClass("is-active");
    });
</script>