<!-- Required Parameters
    * products[]
        - id
        - title
        - descr
        - price
        - dates
            - begin
            - end
-->


<div class="columns container">

    <!-- displayed products -->
    <div class="column">
        <h4 class="subtitle has-text-centered">Displayed Products</h4>
        <div class="table-container">
            <table class="table is-hoverable is-fullwidth is-striped is-scrollable">
                <thead>
                    <tr class="has-background-primary has-text-white">
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Date Interval</th>
                        <th class="has-text-right">Action</th>
                    </tr>
                </thead>
                <tbody>

                    {% if products %}

                    {% for product in products %}
                    <tr>
                        <td>{{product.title}}</td>
                        <td>{{product.description}}</td>
                        <td>$&nbsp;{{product.price}}</td>
                        <td>{{product.date_interval.begin_date.strftime('%Y/%m/%d')}}&nbsp;&mdash;&nbsp;{{product.date_interval.end_date.strftime('%Y/%m/%d')}}</td>
                        <td class="has-text-right">
                            <form action="/remove-product" method="POST">
                                <input type="hidden" name="id" value="{{product.id}}">
                                <button type="submit" class="button is-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}


                    {% else %}

                    <tr>
                        <td colspan="5" style="text-align: center;">Empty</td>
                    </tr>

                    {% endif %}

                </tbody>
            </table>
        </div>
    </div>

    <!-- add new product -->
    <div class="column">
        <h4 class="subtitle has-text-centered">Add New Product</h4>

        <form action="/add-product" method="POST"  id="product-form">

            <!-- title -->
            <div class="field">
                <label class="label ">Title</label>
                <div class="control">
                    <input class="input is-rounded" type="text"
                        placeholder="Name of the product" autocomplete="" required name="title" />
                </div>
            </div>
            <br>

            <!-- desc -->
            <div class="field">
                <label class="label ">Description</label>

                <div class="control">
                    <textarea class="textarea is-rounded " placeholder="Enter a description" required
                        name="description"></textarea>
                </div>
            </div>
            <br>

            <!-- price -->
            <div class="field">
                <label class="label ">Price</label>

                <div class="control">
                    <input class="input is-rounded" type="number"
                        placeholder="Enter price" autocomplete="" required name="price" min="0"/>
                </div>
            </div>
            <br>


            <!-- dates -->
            <div class="field">
                <label class="label ">Active time interval</label>

                <div class="columns is-variable is-1">
                    <div class="column control">
                        <!-- begin -->
                        <div class="field">
                            <div class="control">
                                <input class="input is-rounded " type="text"
                                    onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Begin date"
                                    autocomplete="" required name="begin_date" />
                            </div>
                        </div>
                    </div>
                    <div class="column control">
                        <!-- end -->
                        <div class="field">
                            <div class="control">
                                <input class="input is-rounded " type="text"
                                    onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="End date"
                                    autocomplete="" required name="end_date" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <!-- category -->
            <div class="field">
                <label class="label ">Category</label>

                <div class="control">
                    <div class="select is-fullwidth is-rounded">
                        <select name="category" class="">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>

            <br />
            <button class="button is-block is-fullwidth is-success is-medium is-rounded" type="submit">
                Add
            </button>
        </form>
    </div>
</div>