{% extends "layout.html" %}
{% block content %}

<section class="container">
    <div class="p-5 has-text-centered">
        <div class="box has-background-grey-dark has-text-white p-5">

            <div class="my-4  has-text-centered">
                <h1 class="title has-text-white my-0">James Coach</h1>
                <sup>Rating: 4/5</sup>
            </div>

            <div>
                <h2 class="is-size-4">Description</h2>
                <p class="has-text-justified">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci qui
                    laborum libero voluptatem
                    nihil explicabo perferendis praesentium provident accusamus earum repellat quo temporibus
                    voluptas,
                    in fuga sint inventore eos minima ea dolore labore ipsum iusto. Dolores similique, laudantium
                    omnis
                    rem quae ad corporis minus quas fugiat alias molestiae dolore vitae reprehenderit nisi numquam
                    ex
                    expedita qui ipsam quisquam quasi? Repellat ducimus quisquam quae ad ipsum possimus pariatur
                    ullam
                    consequatur inventore doloremque nobis facere beatae perferendis libero autem quia error sed, ab
                    hic
                    iusto ratione sequi distinctio sint quam. Magnam, natus quaerat laboriosam incidunt dolor
                    necessitatibus quisquam architecto voluptatibus beatae autem!</p>
                <br>
                <h2 class="is-size-4">Contact</h2>
                <p class="has-text-left	">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque recusandae qui
                    nam voluptatem
                    animi
                    placeat earum, modi temporibus in perferendis aliquid. Natus, suscipit. Quisquam dicta, iusto
                    quasi
                    libero fugit ullam.</p>
            </div>
        </div>

        <!-- if you are an admin then this button will show up -->
        <button class="button is-danger">Ban user</button>
    </div>
</section>

{% endblock %}