{% extends "layout.html" %}
{% block content %}


<section class="hero is-fullheight">
    <div class="hero-body has-text-centered is-justify-content-center">
        <div class="login has-background-white-bis p-5" style="border-radius: 5%;">
            <h2 class="title"><strong>RENTING APP</strong></h2>
            <form action="" method="POST" id="signup-form">

                <!-- email -->
                <div class="field">
                    <div class="control">
                        <input class="input is-medium is-rounded  has-background-white-ter" type="email"
                            placeholder="hello@example.com" autocomplete="current-email" required name="email" />
                    </div>
                </div>

                <!-- password -->
                <div class="field">
                    <div class="control">
                        <input class="input is-medium is-rounded  has-background-white-ter" type="password"
                            placeholder="**********" autocomplete="current-password" required name="password" />
                    </div>
                </div>

                <!-- name -->
                <div class="field">
                    <div class="columns is-variable is-1">
                        <div class="column control">
                            <input class="input is-medium is-rounded  has-background-white-ter" type="text"
                                placeholder="First name" autocomplete="current-name" required name="first_name" />
                        </div>
                        <div class="column control">
                            <input class="input is-medium is-rounded  has-background-white-ter" type="text"
                                placeholder="Last name" autocomplete="current-name" required name="last_name" />
                        </div>
                    </div>
                </div>

                <!-- bdate -->
                <div class="field">
                    <div class="control">
                        <input class="input is-medium is-rounded  has-background-white-ter" type="text"
                            onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Birthday Date"
                            autocomplete="" required name="bdate" />
                    </div>
                </div>

                <!-- sex -->
                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth is-medium is-rounded">
                            <select name="sex" class="has-background-white-ter">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="O">Other</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- address -->
                <div class="field">
                    <div class="control">
                        <textarea class="textarea is-rounded  has-background-white-ter is-medium" placeholder="Address"
                            required name="addr"></textarea>
                    </div>
                </div>


                <br />
                <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                    Signup
                </button>
            </form>
            <br>
            <nav class="level ">
                <div class="level-item has-text-centered ">
                    <a class="button is-link is-outlined is-rounded is-fullwidth is-narrow" href="/login">Login</a>
                </div>
            </nav>
        </div>
    </div>
</section>

{% endblock %}